<h1>List of all restaurants in our database</h1>
<br>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name.capitalize, restaurant_path(restaurant)  %></li>
  <% end %>
</ul>
